<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Feed Preview</title>
    <link rel="stylesheet" href="https://widget.artyzan-agency.com/static/style.css?v=1.54" />
  </head>
  <body>
      <div id="widget-setup">
        <h1>Feed Instagram Preview</h1>
        <p>Connectez votre base de données Notion :</p>
        <form id="config-form">
          <label for="apiKey">Clé API Notion :</label>
          <input type="password" id="apiKey" placeholder="Entrez votre clé API" required />
          <label for="databaseId">ID de la base de données :</label>
          <input type="text" id="databaseId" placeholder="Entrez l'ID de votre base" required />
          <button id="connect-btn">Connecter</button>
        </form>
        <p id="error-msg" style="display: none; color: red;">Erreur : Vérifiez vos informations.</p>
      </div>

      <!-- Zone masquée après enregistrement -->
      <div id="config-summary" style="display: none">
        <p>Clé API : <span id="masked-api-key">********</span></p>
        <p>ID data base : <span id="masked-database-id">********</span></p>
        <button id="edit-config-btn" class="btn" onclick="editConfig()">
          Modifier
        </button>
      </div>
    </div>
    <script src="https://widget.artyzan-agency.com/static/script.js?v=1.54" defer></script>
  </body>
</html>


